.texto-menor{
    font-size: 13px;
}

.divs-facilidades{
    width: 325px;
}


.divs-facilidades .bi, div.ms-3.mb-1 {
    color: #DAFF01;
}

a.btn.btn-primary, button#button-addon2{
    background-color: #9353FF;
    border: none;
    border-radius: 0;
    color: white;
}

.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}